body{
  padding: 0px;
}

.head-div{
  display: flex;
  margin-left: 60px;
  flex-direction: row;
  position: fixed;
  width: 89%;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(167, 167, 41);
  align-items: center;
  justify-content: space-between;
  font-size: larger;
}

.head-img{
  width: 70px;
  margin-top: 3px;
}

.dropbtn {
  background-color: rgb(167, 167, 41);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(211, 211, 97);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(211, 211, 97);
}